[BRANDING]
BRANDIEUSINGUNATTEND=yes
IEBRANDINGFILE=

[CERT_CLIENT]
CAMACHINE=
CANAME=

[CERT_SERVER]
CATYPE=
COUNTRY=
CSPPROVIDER=
DESCRIPTION=
EMAIL=
EXISTINGKEY=
HASHALGORITHM=SHA1
KEYLENGTH=
LOCALITY=
NAME=
ORGANIZATION=
ORGANIZATIONUNIT=
PARENTCAMACHINE=
PARENTCANAME=
PRESERVEDB=
REQUESTFILE=
SHAREDFOLDER="%systemdrive%\CAConfig"
STATE=
USEEXISTINGCERT=
VALIDITYPERIOD=20
VALIDITYPERIODUNITS=years

[CLUSTER]
ACCOUNT=
ACTION=
DOMAIN=
EXCLUDEDRIVE=
IPADDR=
LOCALQUORUM=
NAME=
NETWORK=
PASSWORD=
QUORUM=
SUBNET=

[COMPONENTS]
ACCESSOPT=off
ACS=0
CALC=on
CDPLAYER=on
CERTSRV=off
CERTSRV_CLIENT=off
CERTSRV_SERVER=off
CHARMAP=on
CHAT=off
CLUSTER=off
COM=
DESKPAPER=on
DIALER=off
DIALER=on
DTC=on
FP_EXTENSIONS=off
FREECELL=on
FREESTYLE=on
HYPERTERM=on
IISDBG=off
IIS_COMMON=off
IIS_DOC=off
IIS_FTP=off
IIS_HTMLA=off
IIS_INETMGR=off
IIS_NNTP=off
IIS_NNTP_DOCS=off
IIS_PWMGR=off
IIS_SMTP=off
IIS_SMTP_DOCS=off
IIS_WWW=off
INDEXSRV_SYSTEM=off
LICENSESERVER=off
MEDIA_CLIPS=on
MEDIA_UTOPIA=on
MINESWEEPER=on
MOUSEPOINT=on
MPLAY=off
MPLAY=on
MSMSGS=off
MSMQ=off
MSWORDPAD=on
NETCIS=off
NETOC=on
NOACCESS=
NOTEBOOK=on
OBJECTPKG=off
OOBE=
PAINT=on
PINBALL=on
REC=on
REMINST=off
RSTORAGE=off
SAKIT=
SOLITAIRE=on
SYSTEM=
STICKYNOTES=on
TEMPLATES=on
TPG=
TSCLIENTS=on
TSENABLE=off
VOL=off
VOL=on
WBEMCRRL=
WBEMFWRD=
WBEMMSI=
WMS=off
WMS_ADMIN=off
WMS_SERVER=off

[DATA]
AUTOPARTITION=1
MSDOSINITIATED=0
UNATTENDEDINSTALL=yes
USEBIOSTOBOOT=

[DCINSTALL]
ADMINISTRATORPASSWORD=
ALLOWANONYMOUSACCESS=
AUTOCONFIGDNS=
CHILDNAME=
CREATEORJOIN=
CRITICALREPLICATIONONLY=
DATABASEPATH=
DNSONNETWORK=
DOMAINNETBIOSNAME=
ISLASTDCINDOMAIN=
LOGPATH=
NEWDOMAINDNSNAME=
PARENTDOMAINDNSNAME=
PASSWORD=
REBOOTONSUCCESS=
REPLICADOMAINDNSNAME=
REPLICAORMEMBER=
REPLICAORNEWDOMAIN=
REPLICATIONSOURCEDC=
SAFEMODEADMINPASSWORD=
SITENAME=
SYSVOLPATH=
TREEORCHILD=
USERDOMAIN=
USERNAME=

[DISPLAY]
BITSPERPEL=16
VREFRESH=72
XRESOLUTION=800
YRESOLUTION=600

[FAVORITESEX]

[FAX]
ARCHIVEFOLDERNAME=
ARCHIVEOUTGOING=
CSID=
FAXNUMBER=
FAXPRINTERNAME=
RINGS=
ROUTEFOLDERNAME=
ROUTEPRINTERNAME=
TSID=

[GUIRUNONCE]

[GUIUNATTENDED]
ADMINPASSWORD=__ADMINPASSWORD__
ADVSERVERTYPE=
ARGUMENTS=
AUTOLOGON=yes
AUTOLOGONACCOUNTCREATION=
AUTOLOGONCOUNT=__AUTOLOGONCOUNT__
DETACHEDPROGRAM=
OEMSKIPREGIONAL=1
OEMSKIPWELCOME=1
PROFILESDIR="d:\Documents and Settings"
TIMEZONE=__TIMEZONE__

[IDENTIFICATION]
DOMAINADMIN=
DOMAINADMINPASSWORD=
JOINDOMAIN=
JOINWORKGROUP=
MACHINEOBJECTOU=

[INTERNETSERVER]
EXTENSIONFILE=
PATHWWWROOT=
PATHFTPROOT2=
PATHFTPROOT3=
PATHFTPROOT4=

[LICENSEFILEPRINTDATA]
AUTOMODE=perseat
AUTOUSERS=

[MASSSTORAGEDRIVERS]

[NETOPTIONALCOMPONENTS]
DHCPSERVER=0
DNS=0
IAS=0
ILS=0
LPDSVC=0
MACPRINT=0
MACSVC=0
NETCM=0
NETMONTOOLS=0
SIMPTCP=0
SNMP=0
WINS=0

[NETWORKING]
INSTALLDEFAULTCOMPONENTS=no

[NETBINDINGS]

[OEMBOOTFILES]

[OEM_ADS]
BACKGROUND=
LOGO=

[OSCHOOSER]
DESCRIPTION=
HELP=
IMAGETYPE=
LAUNCHFILE=
VERSION=

[PROXY]
FTP_PROXY_SERVER=
GOPHER_PROXY_SERVER=
HTTP_PROXY_SERVER=
PROXY_ENABLE=0
PROXY_OVERRIDE=
SECURE_PROXY_SERVER=
SOCKS_PROXY_SERVER=
USE_SAME_PROXY=

[REGIONALSETTINGS]
INPUTLOCALE=
LANGUAGE=0409
LANGUAGEGROUP=1
SYSTEMLOCALE=
USERLOCALE=

[REMOTEINSTALL]
REPARTITION=
USEWHOLEDISK=

[SETUPDATA]
OSLOADTIMEOUT=5
OSLOADOPTIONSVAR=__OSLOADOPTIONSVAR__
LOADIDENTIFIER=__OS\DESCRIPTION__

[SNMP]
ACCEPT_COMMUNITYNAME=
ANY_HOST=
COMMUNITY_NAME=
CONTACT_NAME=
LIMIT_HOST=
LOCATION=
SEND_AUTHENTICATION=
SERVICE=
TRAPS=

[SYSTEMFILEPROTECTION]
SFCDLLCACHEDIR=
SFCDISABLE=1
SFCSHOWPROGRESS=
SFCQUOTA=

[TAPILOCATION]
AREACODE=__AREACODE__
COUNTRYCODE=1
DIALING=pulse
LONGDISTANCEACCESS=

[TERMINALSERVICES]
ALLOWCONNECTIONS=1
APPLICATIONSERVER=
PERMISSIONSSETTING=

[UNATTENDED]
COMPUTERTYPE=
DRIVERSIGNINGPOLICY=ignore
EXTENDOEMPARTITION=
FILESYSTEM=
KEYBOARDLAYOUT=
OEMFILESPATH=
OEMPNPDRIVERSPATH=__OEMPNPDRIVERSPATH__
OEMPREINSTALL=yes
OEMSKIPEULA=yes
REPARTITION=no
TARGETPATH=C:\WINDOWS
UNATTENDMODE=fullunattended

[URL]
AUTOCONFIG=0
AUTOCONFIGJSURL=
AUTOCONFIGURL=
HELP_PAGE=http://support.microsoft.com
HOME_PAGE=http://www.google.com
SEARCH_PAGE=http://www.google.com

[USERDATA]
COMPUTERNAME=__COMPUTERNAME__
FULLNAME=__FULLNAME__
ORGNAME=__ORGNAME__

